<h1>Welcome. Register a new account here.</h1>
<form method='post' action='/registration'>
  <label>Username: </label><input type='text' id='username' name='username' /><br /><br />
  <label>First name: </label><input type='text' id='firstname' name='firstname' /><br /><br />
  <label>Last name: </label><input type='text' id='lastname' name='lastname' /><br /><br />
  <label>Email: </label><input type='text' id='email' name='email' /><br /><br />
  <label>Password: </label><input type='password' id='password' name='password' /><br /><br />
  <input type='submit' name='submit' value='Register' />
  
    
</form>
