<!doctype html>
<html>
  <head>
    <title>Sinatra Project: Hooper's Survey System</title>
  </head>
  <body>
    <h1>Welcome to Hooper's Survey System</h1>
    <div class="container">

      <%= yield %>

    </div>
  </body>
</html>
